* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  background-color: #ff0000;
  margin: 0;
  background:url(../img/background.jpg);
  background-repeat: repeat
  /*background-position: center;*/
}

.topbar {
  width: 100%;
  background-color: #1188ff;
  border-style: solid;
  border-bottom: thick solid #0000ff;
  border-bottom-width: 25px;

  height: 170px;

}

.topbar h1 {
  color: white;
  font-family: fantasy;
  font-size: 55px;
  padding-top: 20px;
}

.topbar img {
  width: 150px;
  float: left;
  padding-left: 50px;
  padding-top: 10px;
  margin-right: 75px;
}

.topbar p {
  color: blue;
  font-family: fantasy;
  font-size: 25px;
  padding-top: 0px;
}


.sidebar {
  width:100%;
  overflow-x: hidden;
}

.sidebar-container {
  width: 250px;
  overflow-x: hidden;
}

.wikiclone {
  background-image: url(../img/wikilogo.png);
  background-size: 300px 300px;
}

.hawaiiplace {
  background-image: url(../img/hawaiilogo.jpg);
  background-size: 770px;
  text-indent: 50px;
}

.petstore {
  background-image: url(../img/doglogo.jpg);
  background-size: 450px;
  text-indent: 50px;
}

.well-top {
  margin-top: 50px;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
}

.well-top h4 {
  font-size: 18px;
  color: #000000;
}

.well-top p {
  font-size: 13px;
  color: #000000;
}
