* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  background-color: #ff0000;
  margin: 0;
  background:url(../img/background.jpg) top right no-repeat; background-attachment:fixed;
  background-position: center;
  background-repeat: repeat
}

.container {
  width: 100%;
}

.topbar {
  width: 100%;
  background-color: #b3e0ff;
  border-style: solid;
  border-bottom: thick solid #66c2ff;
  border-bottom-width: 25px;
  height: 170px;
  position: fixed;
  z-index: 10;
}

.topbar h1 {
  color: #33adff;
  font-family: fantasy;
  font-size: 55px;
  padding-top: 20px;
}

.topbar img {
  height: 140px;
  float: left;
  padding-left: 50px;
  padding-top: 10px;
  margin-right: 50px;
}

.topbar p {
  color: #66c2ff;
  font-family: fantasy;
  font-size: 25px;
  padding-top: 0px;
}


.sidebar {
  width: 250px;
  overflow-x: hidden;
  margin-top: 150px;
}

.wikiclone {
  background-image: url(../img/wikilogo.png);
  background-size: 300px 300px;
}

.hawaiiplace {
  background-image: url(../img/hawaiilogo.jpg);
  background-size: 770px;
  text-indent: 50px;
}

.petstore {
  background-image: url(../img/doglogo.jpg);
  background-size: 450px;
  text-indent: 50px;
}

.cupcake {
  background-image: url(../img/cupcakelogo.jpg);
  background-size: 450px;
  text-indent: 50px;
}

.well-top {
  margin-top: 50px;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
}

.well-top h4 {
  font-size: 18px;
  color: #000000;
}

.well-top p {
  font-size: 13px;
  color: #000000;
}

.about-me {
  width: 100%;
  text-indent: 50px;
  margin-top: 200px;
}

.keanu {
  width: 250px;
  border-radius: 30px;
  float: left;
  margin-right: 25px;
}

.skills {
  width: 100%;
  text-indent: 50px;
  margin-top: 30px;
}

.code {
  width: 280px;
  border-radius: 30px;
  float: right;
  margin-right: 25px;
}

.code img {
  width: 250px;
  float: left;
  margin-right: 25px;
}
